#Mathematica-WP-Toolbox-shortcodes .mathematica-wp-toolbox-shortcode {
	margin-bottom: 7px;
	margin-right: 3px;
}

/*
.mathematica-wp-toolbox-icon {
	padding-left: 1px;
}
.mathematica-wp-toolbox-icon:before {
	vertical-align: middle;
	font: 400 18px/1 dashicons;
	content: "\f499" !important;
}*/